.bg-img{background-image:url("top.jpg"); min-height:380px;}
.topnav {overflow:hidden; position: sticky; top: 0; text-align:center; font-family: "Garamond"; background-color: rgba(1,1,1,0.5);}
.topnav a {padding: 14px 16px; font-size: 17px; text-decoration: none;color:#E4D110;}
.topnav a:hover {color:#FFFFFF; background-color:#E4D110;}
body {min-height: 400px; margin-bottom: 100px; clear: both; padding-bottom: 20px;}
p {font-family: "Arial";}
.topnav a {border-radius: 25px;}

.footer {display: block; bottom:0; left:0; right:0; position:fixed; height:40px; width:100%; background-color: #E4D110; color:#FFFFFF; text-align: center;}
